body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle, #2e4478 0%, #1b1c1e 100%);
  color: #000;
}

form{
  background: #70707060;
}

.container h2{
  color: #fff;
  text-align: justify;
}

.container .border{
  border-radius: 40px;
}

.container .form-label{
  color: #fff;
}

.container .form-control{
  opacity: 0.1;
}

.container .input-group-text{
  opacity: 0.2;
}

.container .input-group-text i{
  color: #2e4478;
  font-size: 20px;
}

.container button{
  background: #7096ca;
  color: #fff;
}
.container button:hover{
  background: #7095caaf;
  color: #fff;
}

 .icon{
  color: #fff;
  font-size: 50px
}

.contato h4,p{
  color: #fff;
}

.contato a{
  color: #ffffffc7;
}